body {
  margin: 0;
  padding: 36px;
  padding-left: 156px;
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
}

a {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  text-decoration: none;
}

input {
  width: 272px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  padding-left: 16px;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
  margin-right: 8px;
  background: #fff;
}

input:hover {
  border: 1px solid #000;
}

input:active {
  border: 1px solid #4e75ff;
  color: #000;
}

input:disabled {
  border: 1px solid #808080;
  background: #fafafa;
}

.btn {
  display: inline-flex;
  width: 75px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 8px;
  background: #4e75ff;
  font-family: Montserrat;
  font-size: 16px;
  color: #fff;
}

.btn:hover {
  background: #6c8cff;
  columns: #fff;
}

.btn:disabled {
  background: #989898;
}

.timer {
  display: flex;
  gap: 24px;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.label {
  font-size: 16px;
  line-height: 1.5;
}

.flatpickr-calendar.open {
  background-color: #ffffff;
}

.error-svg {
  background-image: url(../img/error.svg);
}